{% extends "base.html" %}
{% block title%}
CSSFrameworks
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <!--<div id="app">
        <ul class="tab">
            <li v-for="item in list" @click="changeTab(item.id)" @keyup.enter="changeTab(item.id)" :class="{active:active(item.id)}"
                tabindex="0">[[ item.label ]]</li>
        </ul>
        <div class="content-vue">
            <transition>
                <section v-for="item in list" :key="item.id" v-if="active(item.id)">
                    <p>[[ item.content]]</p>
                </section>
            </transition>
        </div>
    </div>-->
    <div id="app">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#tab1" class="nav-link active" data-toggle="tab">tab1</a>
            </li>
            <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab">tab2</a>
            </li>
            <li class="nav-item">
                <a href="#tab3" class="nav-link" data-toggle="tab">tab3</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                tab1
            </div>
            <div id="tab2" class="tab-pane">
                tab2
            </div>
            <div id="tab3" class="tab-pane">
                tab3
            </div>
        </div>
    </div>
</div>
{% endblock %}