{% extends "base.html" %}
{% block title%}
CSSFrameworks
{% endblock %}

{% block head %}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="app">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#tab1" class="nav-link active" data-toggle="tab">Bootstrap</a>
            </li>
            <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab">UIkit</a>
            </li>
            <li class="nav-item">
                <a href="#tab3" class="nav-link" data-toggle="tab">tab3</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                {% include "Bootstrap.html" %}
            </div>
            <div id="tab2" class="tab-pane">
                {% include "UIkit.html" %}
            </div>
            <div id="tab3" class="tab-pane">
                tab3
            </div>
        </div>
    </div>
</div>
{% endblock %}