#cache
__pycache__/

#DB
*.sqlite3

#鍵
*.pem

#generate_secret_key
generate_secretkey.py
local_settings.py

#article
banaTECH/media/article/

#sitemap
banaTECH/static/sitemap/

#pyenv-virtualenv
.python-version
