{% extends "base.html" %}
{% block title%}
LaTeXEditor
{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.0/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/latex.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/latex.component.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div id="editor" style="height: 100vh;">
            </div>
        </div>
        <div class="col-sm">
            <div id="output">
                <div id="latex">
                </div>
            </div>
        </div>
    </div>
    <script>
        const editor = ace.edit('editor');
        editor.setTheme('ace/theme/monokai');
        editor.setFontSize(14);
        editor.getSession().setMode('ace/mode/latex');
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setTabSize(2);
        editor.$blockScrolling = Infinity;
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.getSession().on('change', function () {
            var generator = new latexjs.HtmlGenerator({
                hyphenate: false
            });
            /*generator = latexjs.parse(editor.getValue(), {
                generator: generator
            });
            while (output.firstChild) {
                output.removeChild(output.firstChild);
            }
            output.appendChild(generator.stylesAndScripts("https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/"));
            output.appendChild(generator.domFragment());*/
            try {
                generator = latexjs.parse(editor.getValue(), {
                    generator: generator
                });
                while (output.firstChild) {
                    output.removeChild(output.firstChild);
                }
                output.appendChild(generator.stylesAndScripts(
                    "https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/"));
                output.appendChild(generator.domFragment());
            } catch (e) {
                $("#output").text(e);
            }
        });
    </script>
    {% endblock %}