{% extends "base.html" %}
{% block title%}
LaTeXEditor
{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.0/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/latex.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/latex.component.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary" onclick="saveTex();">Save(.tex)</button>
            <div id="editor" style="height: 100vh;">
            </div>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" onclick="exportToPDF();">Export(.pdf)</button>
            <div class="card" style="height: 100vh;overflow: auto;">
                <div class="card-body">
                    <div id="output">
                        <!--LaTeXのパース結果出力場所-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const editor = ace.edit('editor');
        editor.setTheme('ace/theme/monokai');
        editor.setFontSize(14);
        editor.getSession().setMode('ace/mode/latex');
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setTabSize(4);
        editor.$blockScrolling = Infinity;
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.getSession().on('change', function () {
            var generator = new latexjs.HtmlGenerator({
                hyphenate: false
            });
            try {
                generator = latexjs.parse(editor.getValue(), {
                    generator: generator
                });
                $("#output").empty();
                output.appendChild(generator.stylesAndScripts(
                    "https://cdn.jsdelivr.net/npm/latex.js@0.11.1/dist/"));
                output.appendChild(generator.domFragment());
            } catch (e) {
                /*LaTeXのパースエラー*/
                $("#output").replaceWith('<div id="output"> <p>' + e.name + '</p><p>line ' + e.location["start"]
                    ["line"] + ' (column ' + e.location["start"]["column"] + '): ' + e.message +
                    '</p></div>');
                console.error(e);
            }
        });

        var postForm = function (url, data) {
            var $form = $('<form/>', {
                'action': url,
                'method': 'post',
                'id' : 'tempForm'
            });
            for (var key in data) {
                $form.append($('<input/>', {
                    'type': 'hidden',
                    'name': key,
                    'value': data[key]
                }));
            }
            $form.append('{% csrf_token %}');
            $form.appendTo(document.body);
            $form.submit();
        };

        function saveTex() {
            var tex = editor.getValue();
            postForm("/LaTeXEditor/saveTex", {
                "tex": tex
            });
            $("#tempForm").remove();
        }
        function saveToPDF() {

        }
    </script>
    {% endblock %}