{% extends "base.html" %}
{% block title%}
くるくる
{% endblock %}

{% block head %}
<!-- anime.js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>-->
{% load static %}
<script src="{% static 'JavaScript/anime.min.js' %}"></script>

<script src="{% static 'JavaScript/kurukuru.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>くるくる</h1>
    <p>操作方法：操作方法を書く。</p>
    <div class="container p-0" style="width: 290px;">
        <div class="blockBox d-flex justify-content-center" style="position: relative;">
            <canvas id="background" width="290px" height="290px" style="position: absolute;"></canvas>
            <canvas id="controller" width="96px" height="96px" style="position: absolute; top:0px; left: 0px;"></canvas>
            {% for block in ""|rjust:"36" %}
            {% if forloop.counter0|divisibleby:"6" %}
            <div class="blockColumn d-flex flex-column">
                {% endif %}
                <canvas class="m-1" id="b-{{ forloop.counter0 }}" width="40px" height="40px"></canvas>
                {% if forloop.counter|divisibleby:"6" %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-2"></div>
            <button class="col-2 btn fas fa-angle-up fa-3x fa-fw" onClick="buttonUp();"></button>
        </div>
        <div class="row">
            <button class="col-3 btn fas fa-angle-left fa-3x fa-fw" onClick="buttonLeft();"></button>
            <button class="col-3 btn fas fa-angle-right fa-3x fa-fw" onClick="buttonRight();"></button>
            <div class="col-1"></div>
            <button class="col-2 btn fas fa-undo fa-2x fa-fw" onClick="buttonCounterClockwise();"></button>
            <button class="col-2 btn fas fa-redo fa-2x fa-fw" onClick="buttonClockwise();"></button>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <button class="col-2 btn fas fa-angle-down fa-3x fa-fw" onClick="buttonDown();"></button>
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}