{% extends "base.html" %}
{% block title%}
くるくる
{% endblock %}

{% block head %}
<!-- 完成したら後でmin.jsに変える -->
<!-- React.js -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% load static %}
<script src="{% static 'JavaScript/kurukuru.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>くるくる</h1>
    <p>操作方法：操作方法を書く。</p>
    <div class="container p-0" style="width: 290px;">
        <div class="blockBox d-flex justify-content-center" style="position: relative;">
        <canvas id="controller" width="290" height="290" style="position: absolute;"></canvas>
            {% for block in ""|rjust:"36" %}
            {% if forloop.counter0|divisibleby:"6" %}
            <div class="blockColumn d-flex flex-column">
                {% endif %}
                <canvas class="m-1" id="b-{{ forloop.counter0 }}" width="40" height="40"></canvas>
                {% if forloop.counter|divisibleby:"6" %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}