{% extends "base.html" %}
{% block title%}
プライバシーポリシー
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>プライバシーポリシー(個人情報保護方針)</h2>
    <p>「https://banatech.tk」（以下、当サイト）を利用される方は、以下に記載する諸条件に同意したものとみなします。</p>
    <p>&nbsp;</p>
    <h2>広告の配信について</h2>
    <p>当サイトはGoogle及びGoogleのパートナーウェブサイト（第三者配信事業者）の提供する広告を設置しております。その広告配信にはCookieを使用し、当サイトを含めた過去のアクセス情報に基づいて広告を配信します。<br />
        Cookie を使用することにより、GoogleやGoogleのパートナーは当サイトや他のサイトへのアクセス情報に基づいて、適切な広告を当サイト上でお客様に表示できます。<br />
        お客様は<a href="https://www.google.com/settings/u/0/ads/authenticated?hl=ja" target="_blank" rel="noopener">Googleアカウントの広告設定ページ</a>で、パーソナライズ広告の掲載に使用される
        Cookie を無効にできます。また <a href="https://www.aboutads.info/" target="_blank" rel="noopener">aboutads.info</a>
        にアクセスして頂き、パーソナライズ広告の掲載に使用される第三者配信事業者のCookieを無効にできます。<br />
        その他、Googleの広告における、Cookieの取り扱いについての詳細は、<a href="https://www.google.co.jp/policies/technologies/ads/" target="_blank"
            rel="noopener">Googleのポリシーと規約ページ</a>をご覧ください。</p>
    <p>&nbsp;</p>
    <h2>免責事項</h2>
    <p>利用者は、当サイトを閲覧し、その内容を参照した事によって何かしらの損害を被った場合でも、当サイト管理者は責任を負いません。また、当サイトからリンクされた、当サイト以外のウェブサイトの内容やサービスに関して、当サイトの個人情報の保護についての諸条件は適用されません。
        当サイト以外のウェブサイトの内容及び、個人情報の保護に関しても、当サイト管理者は責任を負いません。当サイトで引用している文章や画像について、著作権は引用基にあります。万が一、不適切な記事、画像、リンク等がありましたら早急に削除するなどの対応を致しますので、恐れ入りますが下記メールアドレスからご連絡くださるようよろしくお願い致します。</p>
    <p>&nbsp;</p>
    <h2>お問い合わせ</h2>
    <p>当サイトの個人情報の取扱に関するお問い合せは下記までご連絡ください。<br />
        ⇒<a href="mailto:bana.titech@gmail.com">bana.titech@gmail.com</a></p>
</div>
{% endblock %}