{% extends "base.html" %}
{% block title%}
{% endblock %}

{% block head %}
<meta name="description" content="某工業大学生によるプログラミングやガジェットに関するブログ">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
{% endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary" onclick="location.href='/blog/post'">投稿(管理者用)</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/accounts/logout'">ログアウト(管理者用)</button>
        </div>
        <div class="col-sm">
            <form class="form-inline mt-2 mt-md-0 float-right" method="POST" action="/blog/search">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="記事の検索" aria-label="Search">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="card">
        {% block cardbody%}
        {% endblock %}
        <ul class="pagination justify-content-center"></ul>
        <ul class="list-group list-group-flush">
            {% for article in articles %}
            <div id="{{ article.id }}" style="display: none;">
            <li class="list-group-item">
                <a href="/blog/{{article.id}}">{{ article.title }}</a>
                <br>
                {% for category in article.category.all %}
                <a class="btn btn-primary p-1" href="/blog/category/{{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
//1ページ当たりの記事数
var articlesInPage = 20;

var idList = "{{ articles }}".match(/\d+/g);
$('.pagination').twbsPagination({
        totalPages: {{ articles|length }} / articlesInPage + 1,
        onPageClick: function (evt, page) {
            for(var i = 0; i < idList.length; i++){
                if(i >= (page-1)*articlesInPage && i < page * articlesInPage){
                    document.getElementById(idList[i]).style.display="block";
                }else{
                    document.getElementById(idList[i]).style.display="none";
                }
            }
        }
    });
</script>
{% endblock %}