{% extends "base.html" %}
{% block title%}
{{ article.title }}--banaTECH--
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ article.title }}</h1>
    <h2>{{ article.post_date }}</h2>
    <p>
    カテゴリー：
    {% for category in  categories%}
    <a class="btn btn-primary" href="/blog/category/{{ category.name }}">{{ category.name }}</a>
    {% endfor %}
    </p>
    <div id="markdown_content" src="{{article.article.url}}"></div>
</div>
<script>
    $(document).ready(function () {
        var target = $("#markdown_content");
        var renderer = new marked.Renderer()
        renderer.code = function (code, language) {
            if(language.indexOf(":") != -1){
                var lang = language.split(":")[0];
                var fileName = language.split(":")[1].trim();
                return '<pre>' + '<div class="card text-white bg-info" style="display: inline-block;"> <div class="card-body p-0" style="display: inline-block;">' + fileName + ' ' + '</div></div>' + '<code class="hljs">' + hljs.highlightAuto(code, [lang]).value + '</code></pre>';
            }else{
                return '<pre' + '><code class="hljs">' + hljs.highlightAuto(code).value + '</code></pre>';
            }
        };
        renderer.image = function (href, title, text) {
            var fileName = href.split("/").pop();
            return '<img src="/media/article/{{ article.id }}/image/'+ fileName +'" alt="'+ text +'" class="img-fluid">';
        }
        marked.setOptions({
            renderer: renderer,
            sanitize: true,
            breaks: true
        });

        $.ajax({
                url: target[0].attributes["src"].value
            })
            .then(
                function (data) {
                    target.append(marked(data));
                },
                function () {
                    target.append("This content failed to load.");
                }
            );
    });
</script>
{% endblock %}